<aside>
  <div>
    <div role="complementary">
      <ul class="nav">
        {{#is basename "about" }}
          {{> nav-about }}
        {{/is}}
        {{#is basename "markdown" }}
          {{> nav-markdown }}
        {{/is}}
      </ul>
    </div>
  </div>
  <div role="main">
    {{! wrapped with 'wordcount' for wordcount plugin }}
    <div class="wordcount">
      {{> body }}
    </div>
  </div>
</aside>
